*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root {
  --main-color: #4285F4;
  --button-color:#fff;
  --secondary-color:#E3F0FF;
  --text-color:#181D4E;
  --p-color:#737373;
}
.hero{
    background-color: var(--secondary-color);
}
.hero .left-hero .discover{
    height: fit-content;
    border:solid #737373 1px;
    border-radius:200px;
}
@media screen and (max-width:1400px){ 
.hero .right-hero img{
    width:500px;
}  
}
@media screen and (max-width:1100px){
.hero.left-hero{
    width:200px;
}  
.hero .right-hero img{
    width:450px;
}  
}
@media screen and (max-width:950px){
.hero .right-hero img{
 width:350px;
}  
}
@media screen and (max-width:800px){
.hero.container.row.hero.left-hero{
    display:inline ;
} 
}
.hero.navbar ul{
    color:var(--main-color);
}
.information a{
    color:var(--main-color);
}
.search-hero{
    background-color: var(--main-color);
    color:#fff;
    border-radius: 20px;
}

.under-hero-border{
     border: 2px solid #737373; 
     }
     @media screen and (max-width:1400px){ 
.hero .navbar.navbar-expand-lg{
    
}  
}
/*plans*/
.plans .p1{
    font-family: Reenie Beanie;
    color: var(--main-color);
}
.plans h2{
    color:var(--text-color);
}
.plans .p2{
    color: var(--p-color);
}
.plans button{
    background-color:var(--main-color);
    color: #fff;

}
.plan .btn{
    background-color:var(--main-color);
    color: #fff;
}
.plan span{
    color: var(--text-color);
}
/*           /*
/*choose your trip*/
.choose-your-trip{
    background-image: url("../imgs/choose\ background.png");
    background-color: #EDF2F5;
    background-repeat: no-repeat;
    background-position: center;
}
.choose-your-trip h3{
    font-size: small;
    color:var(--main-color);
    font-family: Reenie Beanie;
}
.choose-your-trip img{
    width:25px;
}
.choose-your-trip button{
    background-color: var(--main-color);
    color:#fff;
}
/*   */
/* next-adventure*/
.next-adventure .p1{
    font-family:Reenie Beanie ;
    color:var(--main-color);
}
.next-adventure .p2{
    color:var(--p-color);
}
.next-adventure h2{
    color:var(--text-color);
    font-size: 50px;
}
/*   */
/*Adventure Travel*/
.Adventure-Travel .p1{
    font-family:Reenie Beanie ;
    color: #fff;
}
.Adventure-Travel{
    background-image: url("../imgs/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.Adventure-Travel .overlay {
  background-color: rgba(0, 0, 0, 0.5); 
}
.Adventure-Travel .p2{
    color: #fff;
}
.Adventure-Travel h2{
    color: #fff;
}
.Adventure-Travel button{
    background-color: var(--main-color);
    color:#fff;
}
.Adventure-Travel .check{
    width:15px;
    height: 15px;
}
.Adventure-Travel .left img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
/*  /*
/*Travel Itineraries*/
.travel-itineraries h2{
    font-size: 50px;
    color: var(--text-color);
}
/* */
/*    */
.unforgettable-travel-experiences{
    background-image: url("../imgs/background3.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .unforgettable-travel-experiences .who-comment{
    width:50px;
 }
 .unforgettable-travel-experiences .p2{
    width: fit-content;
    height: 5px;
 }
 .unforgettable-travel-experiences .comment{
    background-color:var(--main-color);
    color:#fff;
 }
 /* */
 /*Affordable Travel Packages*/
.affordable-travel-packages .p1{
    font-family:Reenie Beanie ;
    color:var(--main-color);
}
.affordable-travel-packages .h2{
    color: var(--text-color);
}
.affordable-travel-packages .price1 ul{
    list-style:none ;
    color: var(--p-color);
}
.affordable-travel-packages .price1 button{
    background-color: var(--main-color);
    color: #fff;
}
.affordable-travel-packages .price1{
    background-color: #EDF2F5;
}
.affordable-travel-packages .p1-price1{
    color:var(--text-color);
}
.affordable-travel-packages .h2-price1{
    color:var(--text-color);
}
.affordable-travel-packages .p2-price1{
    color:var(--text-color);
}
.affordable-travel-packages .price3{
    background-color: #EDF2F5;
}
.affordable-travel-packages .price3 button{
    background-color: var(--main-color);
}
.affordable-travel-packages .price3 ul{
    list-style:none ;
}
.price1:hover{
    background-color: var(--main-color);
    color: #fff;
}
.price1:hover .h2-price1{
    color: #fff;
}
.price1:hover .p1-price1{
    color: #fff;
}
.price1:hover .p2-price1{
    color: #fff;
}
.price1:hover .list1{
    color: #fff;
}
.price3:hover{
    color:#fff;
    background-color: var(--main-color);
}
.price1:hover{
    color:#fff;
    background-color: var(--main-color);
}
.price1:hover .btn{
    background-color: var(--text-color);
}
.price3:hover .btn{
    background-color: var(--text-color);
    color: #fff;
}
 /* */