*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root {
  --main-color: #4285F4;
  --button-color:#fff;
  --secondary-color:#E3F0FF;
  --text-color:#181D4E;
  --p-color:#737373;
}
.navbar{
    position: sticky;
  top: 0;
  padding: 15px 30px;
  z-index: 10;
}
.btn{
    background-color: var(--main-color);
    color:#fff
} 
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/*search-hero*/
.search-hero{
    padding-top:100px;
    background-image: url("../imgs/header-our-packages.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height:90vh;
}
.search-hero h1{
    position: relative;
    z-index: 2; 
    color: white;
}
/**/
/*left*/
.search .left h2{
color: var(--text-color);
}
.search .left label{
color: var(--p-color);
}
.search .right .span2{
    color:var(--p-color);
}
.footer{
    background-image: url("../imgs/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
 }
 .footer .container{
    position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}