*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root {
  --main-color: #4285F4;
  --button-color:#fff;
  --secondary-color:#E3F0FF;
  --text-color:#181D4E;
  --p-color:#737373;
}
.navbar{
    position: sticky;
  top: 0;
  padding: 15px 30px;
  z-index: 10;
}
.btn{
    background-color: var(--main-color);
    color:#fff
} 
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/*services hero*/
.services-hero{
    padding-top: 100px;
    background-image: url("../imgs/services-bg.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}
.services-hero h1{
    position: relative;
    z-index: 2; 
    color: white;
}
/*contact us*/
.contact-us .right{
    background-color: #EDF2F5;
}
.p1{
    font-family: Reenie Beanie;
    color: var(--main-color);
}
h2{
    color:var(--text-color);
}
.contact-us .right input{
    background-color:  #EDF2F5;
    border-color: #757575;
}
.contact-us .under-contact{
    background-image: url("../imgs/under\ contact.png");
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    position: relative;
}
.contact-us .under-contact .overlay {
  position: absolute;
  inset: 0;
  background: rgb(29, 29, 84 ,0.6);
  z-index: 1;
}
.contact-us .under-contact img{
     position: relative;
    z-index: 2; 
}