*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root {
  --main-color: #4285F4;
  --button-color:#fff;
  --secondary-color:#E3F0FF;
  --text-color:#181D4E;
  --p-color:#737373;
}
.navbar{
    position: sticky;
  top: 0;
  padding: 15px 30px;
  z-index: 10;
}
.btn{
    background-color: var(--main-color);
    color:#fff
} 
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/*services hero*/
.services-hero{
    padding-top: 100px;
    background-image: url("../imgs/services-bg.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}
.services-hero h1{
    position: relative;
    z-index: 2; 
    color: white;
}
